@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.logo{
  width:82.02px;
}

.nav-item{
  height:70px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section{
  padding: 20px;
}

.hero{
  display: flex;
  flex-direction: column;
}

.hero-img{
  max-width: 700.91px;
  align-self: center;
}

.hero-header{
  margin-bottom: 16px;
}

.hero-text{
  margin-top: 0;
  width: 320px;
}