@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.logo{
  width:82.02px;
}

.gray{
  color: #918E9B;

}

.bold{
  font-weight: 500;
}


.nav-item{
  height:70px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section{
  padding: 20px;
}

.hero{
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}

.hero-img{
  max-width: 700.91px;
  align-self: center;
}

.hero-header{
  margin-bottom: 16px;
}

.hero-text{
  margin-top: 0;
  width: 320px;
}

.card-list{
  display: flex;
  gap: 20px;
  margin-left: 36px;
  flex-wrap:no-wrap;
  overflow-x:auto;
}

.card{
  width:176px;
  font-size: 12px;
  line-height: 20px;
}

.card-img{
  width: 100%;
}

.card-star{
  height: 14px;
}

.card-stat{
  display: flex;
  align-items: center;
}

.card p{
  color:#222;
}